<html>
 <!-- <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <title>login</title>
 -->
    <!-- Bootstrap Core CSS -->
   <!--  <link href="css/bootstrap.min.css" rel="stylesheet">
 -->
    <!-- Custom CSS -->
    <!-- <link href="css/grayscale.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
   <!--  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
 -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 
<!-- </head>   -->

<body STYLE="background-color:transparent">
	<div id="insert" class="dropdown" >
		<button class="btn btn-default btn-lg dropdown-toggle" style="margin-top: 2px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    <%= user.name.givenName %>
	    <span class="caret"></span>
		  </button>	
		    <ul class="dropdown-menu media-list" role="menu" aria-labelledby="dropdownMenu1" style="background-color: transparent;	border:0px" >
<div class="panel panel-default" style="background-color: white;	border-radius:5px;" >	
		  <div class="panel-body" style="color:black;text-align:right;">  
		
			  <li class="media">
			    <div class="media-left">
			      <a href="#">
			      	<% if(user.photos != null) { %>
					   	<img class="media-object" src="<%= user.photos[0].value %>" />
					   	<% } %>			        
			      </a>
			    </div>
			    <div class="media-body">
			      <h4 class="media-heading"><a href="/get-user-displayable-data"><%= user.displayName %></a></h4>
			      <small style="color:black;">
			      	<% if(user.emails && user.emails[0]){%>
			      	<%=user.emails[0].value%>
			      	<%} %></small>
			       <% if(user.name.givenName == "Jean-Baptiste") { %>
					   	<a class="btn btn-warning" style="color:black;" href="/admin.html">Admin</a>
				   <% } %>	
			  	  <a class="btn btn-warning" style="color:black;" href="/logout">Déconnexion</a>
			  	 
			    </div>
			  </li>

		   	

			<!--   	<% if(user.photos != null) { %>
		   	<img src="<%= user.photos[0].value %>" />
		   	<% } %>
			   
			  						<strong><%= user.displayName %></strong><br>
			  						<small style="color:black;"><%= user.emails[0].value %></small>
			  						<a class="btn btn-warning" href="/logout">Déconnexion</a>
			 -->					
			  
		   
		  		</div>
			  
		  	</div>   
		</ul>   
    </div>      

    <!-- jQuery 
   <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript 
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript 
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript 
    <script src="js/grayscale.js"></script>-->
           

</body>
</html>


